<!-- Header
========================================== -->
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a></li>
        </ul>
      </div>
  </nav>
</header>

<!-- Main
========================================== -->
<main>
  <div class="jumbotron text-center">
  		<div class="overlay">
  		</div>
  		<div class="background-image">
  		</div>
  		<div class="caption">
  			<h1>Mongo Scraper</h1>
  			<p>Consequence of Sound Edition</p>
  		</div>
  </div>
  <div class="container-fluid article-container">

{{#if article}}
    {{#each article}}
    <div class='panel panel-default' data-_id="{{_id}}" data-saved="false">
      <div class='panel-heading'>
        <h3>
          <a class='article-link' target='_blank' href='{{link}}'>
            {{title}}
          </a>
          <a class='btn btn-success save'>Save Article</a>
        </h3>
      </div>
      <div class='panel-body'>
        {{subtitle}}
      </div>
    </div>
    {{/each}}

  </div>

{{else}}

  <div class='alert alert-warning text-center'>
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
    </div>
    <div class='panel panel-default'>
      <div class='panel-heading text-center'>
        <h3>What Would You Like To Do?</h3>
      </div>
    <div class='panel-body text-center'>
      <h4><a class='scrape-new'>Try Scraping New Articles</a></h4>
      <h4><a href='/saved.html'>Go to Saved Articles</a></h4>
    </div>
  </div>

{{/if}}